<!DOCTYPE html>
<html>
<head>
	<meta charset ="utf-8">
	<title>IIT Drawing App</title>
	<link rel="stylesheet" href="./static/css/master3.css">
	    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

</head>
<body style='margin:0'>
	<div id="toolbar">
		<div id="rad">
			Radius <span id="radval">10</span>
			<div id="decrad" class="radcontrol">-</div>
			<div id="incrad" class="radcontrol">+</div>
		</div>
		<div id="colors">
		</div>
		
			<button id="submit">Submit</button>

	</div>
	<canvas id="canvas" style="display: block;">
		Sorry, your browser does not support this application
	</canvas>
	<script type="text/javascript" src="./static/js/main.js"></script>
	<script type="text/javascript" src="./static/js/radius3.js"></script>
	<script type="text/javascript" src="./static/js/colors.js"></script>
	<!--<script type="text/javascript" src="./static/js/save.js"></script>-->
	<!--<script type="text/php" src="./static/js/save.php"></script>-->
	<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
	<script>var canvas = document.getElementById('canvas');
var saveButton = document.getElementById('submit');


saveButton.addEventListener('click',saveImage);

 function saveImage(){
   // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCu-Dc7zMz7vkEaus-5yic_ZmdWgh46iuU",
    authDomain: "iit-doodle-img.firebaseapp.com",
    databaseURL: "https://iit-doodle-img.firebaseio.com",
    projectId: "iit-doodle-img",
    storageBucket: "iit-doodle-img.appspot.com",
    messagingSenderId: "664829745808"
  };
  firebase.initializeApp(config);

    var database = firebase.database();
    var encodedImg = database.ref('pngs');
    
    var key = canvas.toDataURL();
    
    var result = encodedImg.push({
     name:'image',
     base64: key
    })

    // var request = new XMLHttpRequest();
    
    // request.onreadystatechange = function(){
    //  if(request.readyState == 4 && request.status == 200){
    //     var response = request.responseText;
    //     window.open(response, '_blank', 'location=0, menubar=0');
    //  }
    // }
    
    // request.open('POST', 'save.php', true);
    // request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    // request.send('img='+data);
    
 }</script>>



	
</body>
</html>