<!DOCTYPE html>
<html>
<head>
	<title>IIT Drawing App</title>
	<link href="iit-doodle/static/master.css" rel="stylesheet">
</head>
<body class="all" style='margin:0'>
	<div class="all" id="toolbar">
		<div class="all" id="rad">
			Radius <span id="radval">10</span>
			<div class="all" id="decrad" class="radcontrol">-</div>
			<div class="all" id="incrad" class="radcontrol">+</div>
		</div>
		<div class="all" id="colors">
		</div>
		<div class="all" id="save">
			Save
		</div>
	</div>
	<canvas class="all" id="canvas" style="display: block;">
		Sorry, your browser does not support this application
	</canvas>
	<script src="app/main.js"></script>
	<script src="app/radius.js"></script>
	<script src="app/colors.js"></script>
	<script src="app/save.js"></script>
</body>
</html>